<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

    <session-factory>

        <!-- postgreSQL database connection settings -->
        <property name="connection.driver_class">org.postgresql.Driver</property>
        <property name="connection.url">jdbc:postgresql://localhost:5432/e_shop_hiber</property>
        <property name="connection.username">postgres</property>
        <property name="connection.password">N1i2k3o4l5a6y7!</property>
        <property name="hibernate.default_schema">PUBLIC</property>
        <property name="dialect">org.hibernate.dialect.PostgreSQL9Dialect</property>

        <!-- JDBC connection pool (use the built-in) -->
        <property name="connection.pool_size">500</property>

        <!--Echo all executed SQL to stdout-->
        <property name="show_sql">true</property>

        <!-- Drop and re-create the database schema on startup -->
        <property name="hbm2ddl.auto">update</property>

        <mapping package="com.hannalata.model"/>
        <mapping class="com.hannalata.model.User"/>
        <mapping class="com.hannalata.model.Item"/>
        <mapping class="com.hannalata.model.Order"/>
        <mapping class="com.hannalata.model.Cart"/>

    </session-factory>

</hibernate-configuration>